<html>
    <head>
        <script type="text/javascript">
            var markerJson = 
            {"name":[], "address":[], "lat":[], "lng":[]};

            function loadXMLDoc() {
                var xmlhttp = new XMLHttpRequest();
                if (xmlhttp!=null) {
                    xmlhttp.withCredentials=true;
                    xmlhttp.onreadystatechange = function() { parseMarkers(xmlhttp) };
                    var latitude = document.getElementById("lat").value; 
                    var longitude = document.getElementById("lng").value;
                    var radius = document.getElementById("radius").value;
                    var URL = "http://www.ampleharvest.org/findpantry_genxml.php?lat=" + latitude + "&lng=" + longitude + "&radius=" + radius;
                    alert(URL);
                    xmlhttp.open( "GET", URL, true );
                    xmlhttp.send(null);
                } else {
                    alert("Your browser does not support XMLHTTP");
                }
            }
            function parseMarkers(xhr) {
                if (xhr.readyState==4) {
                    if (xhr.status=200) {
                        var markers = xhr.responseXML.getElementsByTagName("marker");
                        for (i=0; i<markers.length; i++) {
                            markerJson.name.push(markers[i].getAttribute("name"));
                            markerJson.address.push(markers[i].getAttribute("address"));
                            markerJson.lat.push(markers[i].getAttribute("lat"));
                            markerJson.lng.push(markers[i].getAttribute("lng"));
                        }
                        alert(JSON.stringify(markerJson));
                    }
                }
            }
        </script>
    </head>
    <body>
        Latitude: <input id="lat" type="text" value="39.3933038"/>
        Longitude: <input id="lng" type="text" value="-77.6285537"/>
        Radius: <input id="radius" type="text" value="25"/>
        <input type="button" value="submit" onclick="loadXMLDoc()"/>
        <span>Uses AmpleHarvest's food pantry API</span>
    </body>
</html>
